body {
  background-color: white;
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
  background-color: white; }

nav {
  display: flex; }
  nav a {
    text-decoration: none; }
  nav li {
    list-style: none; }
  nav button {
    margin-right: 4vw;
    width: 8vw;
    border: none;
    background: none; }

nav.navbar-mobile {
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  right: -100vw;
  transition: 0.3s;
  display: flex;
  justify-content: center; }
  nav.navbar-mobile button.navbar-closer {
    position: absolute;
    right: 0px;
    color: #41006c; }
    nav.navbar-mobile button.navbar-closer i {
      font-size: 10vw; }
  nav.navbar-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    nav.navbar-mobile ul .active {
      color: #92d0fc; }
    nav.navbar-mobile ul li a {
      font-size: 10vw; }

nav.navbar-desktop {
  height: 10vh;
  align-items: center;
  background-color: #41006c;
  justify-content: space-between;
  flex-direction: row; }
  @media screen and (min-width: 1025px) {
    nav.navbar-desktop {
      height: 8vh; } }
  nav.navbar-desktop .navbar-brand, nav.navbar-desktop a {
    color: white; }
  nav.navbar-desktop .navbar-collapse {
    flex-grow: 1; }
    nav.navbar-desktop .navbar-collapse .navbar-nav {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      nav.navbar-desktop .navbar-collapse .navbar-nav .nav-link {
        margin: 3vw;
        color: white;
        transition: 0.2s; }
      nav.navbar-desktop .navbar-collapse .navbar-nav .nav-link:focus {
        color: #92d0fc; }
      nav.navbar-desktop .navbar-collapse .navbar-nav .nav-link:hover {
        color: #92d0fc; }
      nav.navbar-desktop .navbar-collapse .navbar-nav .active {
        color: #92d0fc; }
    @media screen and (max-width: 1025px) {
      nav.navbar-desktop .navbar-collapse {
        display: none; } }
  nav.navbar-desktop button.navbar-toggler {
    color: white;
    font-size: 10vw; }
    @media screen and (min-width: 1025px) {
      nav.navbar-desktop button.navbar-toggler {
        display: none; } }
footer {
  text-align: center; }
